<!-- <mat-form-field>
  <mat-label>Select an employee</mat-label>
  <mat-select [(value)]="selected">
    <mat-option [value]="null">None</mat-option>
    <ng-container *ngIf="employees">
      <ng-container
        *ngTemplateOutlet="employeeOptions; context: { employees: employees }"
      ></ng-container>
    </ng-container>
    <ng-template #employeeOptions let-employees="employees">
      <mat-option *ngFor="let employee of employees" [value]="employee.id">{{
        employee.name
      }}</mat-option>
    </ng-template>
  </mat-select>
</mat-form-field> -->

<mat-form-field>
  <mat-label>Select an employee</mat-label>
  <mat-select [(value)]="selected">
    <mat-option [value]="null">None</mat-option>
    @for( employee of employees;track employee){
    <mat-option [value]="employee.id">
      <ng-container
        [ngTemplateOutlet]="template()"
        [ngTemplateOutletContext]="{ $implicit: employee }"
      >
      </ng-container>
    </mat-option>
    }
  </mat-select>
</mat-form-field>

<p>You selected: {{ selected }}</p>
